.article{
    display: flex;
    max-width: 100%;
    flex-direction: column;
    margin: 20px;
    margin-top: 40px;
}

.article__text{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-self: stretch;
    margin-top: 10px;
}

.article__img{
    width: 100%;
    height: auto;
}

.article__title{
    width: 100%;
    margin: 0%;
}

.article__chapo{
    width: 100%;
    margin: 0%;
}

.title--link{
    margin:0px;
}

.article__duo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: first baseline;
    align-content: center;
    gap: 10px;
}

.duo__article{
    width: 45%;
}

.duo__img{
    width: 100%;
    height: auto;
    margin-bottom: 0px;
}

.duo__text{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.duo__title{
    align-self: stretch;
    width: 100%;
    margin: 0px;
}

.duo__chapo{
    align-self: stretch;
    width: 100%;
    margin: 0px;
}

.liens__sujets{
    font-family: var(--font-familly-body);
    font-size: var(--font-font-xs);
    font-weight: var(--weigth-regular);
}

.article__container{
    display: flex;
    justify-content: center;
}