.contact__form {
    max-width: 600px;
    margin: 20px;
    padding: 20px;
    background-color: none;
}

.contact__form-group {
    margin-bottom: 15px;
}

.contact__label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.contact__input,
.contact__textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--rouge);
    background-color: var(--gris);
    border-radius: 5px;
    box-sizing: border-box;
}

.contact__textarea {
    resize: vertical;
}

.contact__button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--blanc);
    border: 1px solid var(--rouge);
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.contact__button:hover {
    background-color: var(--blanc);
    
}

.button__int {
    display: flex;
    align-items: center;
}

.int__arrow {
    margin-right: 10px;
}

.int__text {
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
}