.inscription__form{
    max-width: 600px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inscription__form-group{
    margin-bottom: 15px;
}

.inscription__label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    margin-left: 0px;
    color: var(--);
}

.inscription__input{
    border: none;
    border-bottom: 1px solid var(--gris);
    width: 300px;
}

.inscription__button{
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--blanc);
    border: 1px solid var(--violet);
    border-radius: 2px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.inscription__button:hover{
    background-color: var(--gris);
}

.button__int {
    display: flex;
    align-items: center;
}

.int__arrow {
    margin-right: 10px;
}

.int__text {
    margin: 0;
    font-weight: var(--weigth-bold);
}

.container {
    display: flex;
    justify-content: center;
    margin: 20px;
}